* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	width: 1120px;
	margin: auto;
}

body,
input,
textarea,
button {
	font-weight: 400;
	font-size: 1rem;
}